<p id="notice"><%= notice %></p>

<p id="listing-image">
  <%= image_tag @listing.image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @listing.website %>
</p>

<%= link_to 'Back', listings_path, class: "btn btn-link" %>
